hr {
    margin: 0;
}

footer {
    background-color: #FFFFFF;
    padding: 1em;
}

.lista {
    display: none;
}

@media screen and (min-width:1024px) {
    footer {
        display: flex;
        justify-content: space-around;
    }

    .lista {
        display: block;
    }

    .lista__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista__titulo {
        color:#858585;
        font-size: 14px;
    }

    .lista__link {
        text-decoration: none;
        color: #474646;
        margin-left: 0.6em;
    }

    footer h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista {
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    footer {
        padding: 3em 0;
    }
}